<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>pro</display-name>
  <welcome-file-list>
    <welcome-file>user.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ADMIN</servlet-name>
    <servlet-class>controller.ADMIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADMIN</servlet-name>
    <url-pattern>/iamadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>controller.userlogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userlogout</servlet-name>
    <servlet-class>controller.userlogout</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>controller.userlogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminlogout</servlet-name>
    <servlet-class>controller.adminlogout</servlet-class>
  </servlet>
</web-app>